@import '../../style.scss';

.personalCenter{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    // border:1px solid red;
    background:$color-white2;
}

.personDiv{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    overflow:scroll;
    z-index:99;
}

.contents{
    height:10000;
    
}

.footer{
    position: absolute;
    z-index:9999;
    height:198px;
    bottom:0;
    width:100%;
    
    
}
.footerDiv{
    position: absolute;
    height:110px;
    bottom:0;
    background:$color-white;
    width:100%;
    text-align: center;
}

.icon1,.icon2{
    display:inline-block;
    width:48%;
    text-align: center;
    height:110px;
}

.iconImg1{
    width:70px;
    height:70px;
    line-height:70px;
    margin-top:20px;
    margin-left:-60px;
}
.iconImg2{
    width:70px;
    height:70px;
    line-height:70px;
    margin-top:20px;
    margin-left:60px;
}

.zmkm{
    position: absolute;
    width:170px;
    height:170px;
    border-radius:999px;
    left:50%;
    margin-left:-90px;
    bottom:0px;
    border:5px solid $color-white;
    z-index:9999;
    background:$color-white;
    box-shadow: 0px 0px 0px #ccc;
    text-align: center;
}

.zmkmImg{
    width:140px;
    height:140px;
    position: absolute;
    top:50%;
    margin-top:-70px;
    left:50%;
    margin-left:-70px;
    
}

.personBox{
    width:695px;
    margin:auto;
    height:412px;
    border-radius:20px;
    // border:1px solid red;
    margin-top:77px;
    position: relative;
    background:$color-white;
}

.mysever{
    width:695px;
    margin:auto;
    border-radius:20px;
    // border:1px solid red;
    margin-top:30px;
    padding:0 0 30px 0;
    position: relative;
    background:$color-white;
}

.boxBottom{
    position: absolute;
    width:100%;
    height:110px;
    bottom:0;
    // border:1px solid red;

}

.avator{
    width:146px;
    height:146px;
    border-radius: 999px;
    position: absolute;
    left:20px;
    top:-25px;
    // border:1px solid red;
}

.boxName{
    position:absolute;
width:300rpx;
left:28%;
top:10%;
height:44rpx;
overflow:hidden;
font-size:34rpx;
line-height:44rpx;
background:none;
border:none;

}

.boxInfo{
    width:180px;
    height:45px;
    border-radius: 999px 0px 0px 999px;
    position: absolute;
    right:0;
    top:40px;
    font-size:25px;
    background:$default-btn-color;
    color:$color-white;
    text-align: center;
    line-height: 45px;
}

.boxUl{
    // border:1px solid red;
    text-align: center;
    position: absolute;
    width:100%;
    top:180px;
    font-size:25px;
}

.uli{
    display:inline-block;
    width:29%;
    // border:1px solid red;
}

.line{
    display:inline-block;
    color:#999999;
}

.wordz{
    color:#a0a0a0;
}
.wordb{
    color:#2e2e2e;
    font-size:30px;
}

.titleSever{
    height:76px;
    border-bottom:1px solid $color-gray6;
}

.myordertitle{
    float:left;
    font-size:35px;
    padding:20px;
}

.mychecked{
    float: right;
    padding:25px;
    font-size:25px;
    color:$color-white4;
}
.iconb{
    width:80px;
    height:80px;
    // border:1px solid red;
}

.iconLi{
    width:33%;
    display:inline-block;
    position: relative;
    // border:1px solid red;
    
}

.orderDiv{
    text-align:center;
    // border:1px solid red;
    overflow:hidden;
    width:100%;
    margin-top:30px;
}
.iconw{
    font-size:30px;
    color:$color-white3;
}

.temp{
    height:200px;
}

.totalDiv{
    position:absolute;
    width:30px;
    right:86px;
    top:12px;
    font-size:20px;
    color:$color-default;
    text-align: center;
    // border:1px solid red;
    
}

