@import '../../../style.scss';
.shopImg{
    width:175px;
    height:190px;
    margin:auto;
}

.shopImgss{
    width:312px;
    height:251px;
    margin:auto;
}
.shopDiv{
    text-align: center;
    padding-top:76px;
    padding-bottom:20px;
    background:$color-white;
}
.shoptitle{
    text-align: center;
    font-size:35px;
    padding:10px 0;
}
.shopInfo{
    text-align: center;
    font-size:30px;
    color:$default-btn-color;
    padding:0 100px;
    margin-top:10px;
    
}
.toSever{
    width:150px;
    height:40px;
    border-radius: 40px;
    font-size:20px;
    line-height: 40px;
    margin:20px 0;
    float: right;
    border:0;
    background:$default-btn-color;
    color:$color-white;  
    margin-right:10px;  
    
}
.toSever1{
    position:absolute;
    margin-top:20px;
    right:10px;
    height:60px;
    border-radius:60px;
    font-size:24px;
    float:right;
    border:0;
    background:$default-btn-color;
    color:$color-white;
    margin-right:40px;
    
}
.selBtn{
    width:150px;
    height:40px;
    line-height: 40px;
    border-radius: 40px;
    font-size:18px;
    float: right;
    margin-top:25px;
    border:2px solid $default-btn-color;
    color:$default-btn-color;  
    background: $color-white;
    
}
.toRight{
    text-align: right;
    overflow:hidden;
    width:100%;
    padding:0 20px 0 0;
}

.addr{
    background:$color-white;
    overflow:hidden;
    position: relative;
    height:133px;
    border-radius: 20px;
    width:90%;
    margin:auto;
    margin-top:20px;
}

.smain{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:scroll;
    background:$color-white2;
}
.addricon{
    float:left;
    width:80px;
    height:80px;
    // border:1px solid red;
    margin-top:30px;
    margin-left:10px;
}
.addr1{
    font-size: 30px;
    margin-top:30px;
    padding:0 0px;
     text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    width:80%;
    text-align:left;
}
.addr2{
    font-size: 25px;
    width:80%;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.seltitle{
    float:left;
    font-size:30px;
}
.seltotal{
    float:right;
    font-size:30px;
}
.seDiv{
    border-radius: 20px;
    width:90%;
    margin:auto;
    background:$color-white;
    margin:auto;
    margin-top:20px;
    padding-bottom:30px;
    overflow:hidden;
    // border:1px solid $color-white2;
}
.selectDiv{
    height:90px;
    line-height:90px;
    border-bottom:1px solid $color-gray5;
    padding:0 30px;
}

.goodsImg{
    float:left;
    width:100px;
    height:100px;
    // border:1px solid red;
    margin:20px 20px 0 20px;
}


.goodsInfo{
    float:left;
    font-size:30px;
    width:70%;
    // border:1px solid red;
}
.line1{
    width:100%;
    overflow:hidden;
    // border:1px solid red;
}
.goodsName{
    
    font-size:30px;
}
.goodsPrice{
    float:left;
    font-size:30px;
 }
 .acount{
    float:right;
    padding:0 0 0 20px;
}
.goodsge{
    float:left;
}

.total{
    float:right;
    padding:0 0 0 20px;
}

.glist{
    padding:20px 0;
}

.orderdetail{
    width:90%;
    margin:auto;
    border-radius: 20px;
    background:$color-white;
    margin-top:20px;
    // padding:30px 10px;
}
.seltInfo{
    padding:20px;
    font-size:28px;
    color:#b3b3b3;
}
.promotionInfo{
    margin:30px 0 30px 0;
    padding:0 40px;
    font-size:30px;
}

.worksheet{
    margin:auto;
    width:90%;
    border-radius: 20px;
    margin-top:20px;
    background:$color-white;
    // border:1px solid red;
}
.worksheet1{
    margin:auto;
    width:90%;
    border-radius: 20px;
    margin-top:20px;
    background:$color-white;
    padding:0 0 10px 0;

}
.seltitle{

}
.answer1{
    font-size:25px;
    color:#b3b3b3;
    padding:10px 0 0px 20px;
}
.answerDiv{
    margin:20px 0;
    padding:20px 0;
}

.img1{
    width:110px;
    height:110px;
    // border:1px solid $color-gray5;
    border-radius: 10px;
    display:inline-block;
    margin:0 10px;
}
.pics{
    padding:20px;
}

.nosum{
    width:100%;
    color:#ccc;
    text-align:center;
    padding:5px;
    font-size:25px;
}