$color-white:#fff;
$color-white1:#f3f3f3;
$color-white2:#f2f2f2;
$color-default:#ff7700;
$color-orgent1:#ff3b3b;
$color-orgent2:#e64307;
$color-orgent3:#f38f00;
$color-orgent:#ff4e00;
$color-gray:#eeeceb;
$color-gray1:#919191;
$color-gray2:#969696;
$color-brown:#e1cda9;
$color-brown1:#633226;
$color-red:#d80a17;

.myheartView{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:$color-white2;
}
.header{
    width:750px;
    height:750px;
    border-radius: -375px;
    position:absolute;
    top:-370px;
    left:50%;
    margin-left:-375px;
    background:$color-white;
}

.mhh{
  // border:1px solid red;
}


.yhdBox{
    
    width:90%;
    height:260px;
    padding:10px 0;
    background:$color-white;
    border-radius: 20px;
    padding:40px 0 0 0;
    margin:auto;
}

.xhdTitle{
    padding:0px 0 0 20px;
}
.viewUl{
    padding:20px 20px;
    height:100px;
    width:90%;
    overflow-y:scroll;

}
.viewli{
    float:left;
    padding:0 10px;
    border-radius: 5px;
    border:1px solid #878787;
    color:$color-gray2;
    margin-right:5px;
    margin-bottom:10px;
    font-size:25px;
    font-size:30px;
}

.otherBox{
    width:90%;
    height:600px;
    border-radius: 20px;
    background:$color-white;
    overflow-y:scroll;
    padding:20px 0 0 0;
    margin:auto;
    margin-top:10px;
}

.xhdvator_{
    float:left;
    width:65px;
    height:65px;
    border-radius: 65px;
}

.xhdDiv{
    padding:20px 0 20px 20px;
    font-size:25px;
    width:90%;
    overflow:hidden;
    margin:auto;
    border-bottom:1px dashed #ccc;
    position: relative;
   
}

.xhdFloat{
    float:left;
    padding:0 0 0 30px;
    // border-bottom:1px dashed #ccc;
}

.gtype{
    font-weight: bold;
    font-size:25px;
    margin-right:20px;
}

.sumheart{
    width:40px;
    height:40px;
    float:left;
}
.sumheartOne{
    width:100px;
    height:100px;
    float:left;
}
.sumcount{
    float:left;
}

.clickOk{
    position:absolute;
        right:10rpx;
        top:0px;
}
.youzan{
    float:left;
    line-height: 100px;
}
.modifyBtn{
    text-align: right;
    // border:1px solid red;
}
.modifyView{
    display:inline-block;
    font-size:20px;
    width:120px;
    height:26px;
    border-radius: 26px;
    background:$color-gray2;
    margin:0 10px;
    color:$color-white;
    line-height: 26px;
    text-align:center;
    padding:5px 0;

}
.addView{
    display:inline-block;
    font-size:20px;
    width:120px;
    height:26px;
    border-radius: 26px;
    background:$color-red;
    margin:0 10px;
    color:$color-white;
    line-height: 26px;
    text-align:center;
    padding:5px 0;

}
.delView{
    width:45px;
    height:45px;
    margin:0;
    padding:10px 20px;
    float:right;

    
}

.otherDiv{
    margin-top:20px;
    height:450px;
    width:100%;
    // border:1px solid red;
    overflow:scroll;
}

.callback{
    position: absolute;
    bottom:5px;
    width:90%;
    margin:auto;
    left:50%;
    margin-left:-45%;
}

.answer{
    position: absolute;
    top:50%;
    margin-top:-22.5px;
    left:0;
    width:45px;
    height:45px;
    border:2px solid $color-orgent3;
    border-radius: 45px;
    z-index:99;
    background:$color-white;
    padding:2px;
}
.xhdAnswer{
    // border:1px solid red;
    clear:both;
    position: relative;
    height:50px;
    padding:20px 0 0 0;
    
}

.answerInfo{
    position: absolute;
    top:50%;
    width:75%;
    height:30px;
    padding:5px;
    font-size:20px;
    background:$color-orgent3;
    border-radius: 30px;
    left:20px;
    margin-top:-15px;
    color:$color-white;
    text-indent: 50px;
    
}

.checkdetail{
    position: absolute;
    right:0px;
    height:30px;
    border-radius: 20px;
    background:$color-orgent3;
    top:50%;
    margin-top:-15px;
    padding:5px;
    color:$color-white;
    font-size:20px;

}

.addgoods{
    float:right;
    font-size:20px;
    position: absolute;
    bottom:0;
    right:0;
    
    
}

.addgoods1{
  float:right;
  font-size:20px;
  position: absolute;
  bottom:0;
  right:110px;
  
  
}

.yhdBox1{
    position:absolute;
    width:90%;
    margin-left:-45%;
    left:50%;
    border-radius: 20px;
    padding:10px 0;
    background:$color-white;
    height:300px;
    z-index:9999;
    top:50%;
    margin-top:-400px;
    box-shadow:0px 0px 1px #ccc;
}

.HearDiv{
    position: absolute;
    width:695px;
    height:600px;
    top:50%;
    margin-top:-500px;
    margin-left:-347px;
    left:50%;
    border-radius: 10px;
    z-index:998;
    // border:1px solid red;   
  }

.HearImg{
    margin-top:40px;
    width:100%;
    height:150px;
    display:block;
  }

  .closeBtn{
    position: absolute;
    width:55px;
    height:55px;
    top:0;
    right: 20px;
    
  }

  .mark{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.6);
    z-index:998;

  }

  .hearList{
    margin:auto;
    width:500px;
    height:300px;
    // border:1px solid red;
    overflow: scroll;
    margin-bottom:10px;
    background:$color-white2;
  
  }

  .myhear{
    position: absolute;
    width:130px;
    height: 130px;
    left:50%;
    margin-left:-65px;
    top:50%;
    margin-top:-62px;
   //  border:1px solid red;  
 }

.HearList{
    background:$color-white2;
    width:695px;
    margin-top:0;
    padding:0 0 30px 0;
    border-radius: 0 0 20px 20px;
    // border:1px solid red;
  }
  .title{
    padding:20px;
  }
  .gTitle{
    float:left;
    font-weight: bold;
  }
  .gInfo{
    color:$color-default;
    margin-left:10px;
  }
  .gline{
    float:left;
    padding:0 5px;
    color:#e5e5e5;
  }

  .gLi{
    position: relative;
    width:656px;
    height:167px;
    background:$color-white;
    margin:auto;
    border-radius: 10px;
    margin-bottom:10px;
  }

  .gAddr{
    font-size:35px;
    padding:50px 0 0 20px;
  }
  .gAddr_{
    font-size:20px;
    float:left;
    padding:15px 0 0 10px;
  }
  
  .goodsList{
    height:450px;
    overflow:scroll;
    overflow-y:scroll;
  
  }
  .machBigImg{
    width:100px;
    height:100px;
    float:left;
    margin:40px 0 0 20px
  }
  
  .yyzh{
    width:62px;
    height:60px;
    position: absolute;
    right:0;
    top:0;
  }
  
  .clickBtn{
    padding:20px 0 0 0;
    text-align:center;
    font-size:25px;
    color:#b5b6b6;
  }
  
  .gdetail{
    position: absolute;
    right:20px;
    font-size:15px;
    padding:2px 20px;
    top:50px;
    border-radius: 30px;
    border:0;
    background:$color-default;
    color:$color-white;
  
  }
  
  .gdist{
     float:left;
     width:30px;
     height:30px;
  }
  .gdist1{
    float:left;
   
  }
  
  .gdistDiv{
    position:absolute;
    right:10px;
    font-size:25px;
    bottom:12px;

  }
  .wishname{
    line-height:44px;
    padding:20px;
    font-size:30px;
  }
  .wishLi{
    position: relative;  
    float:left;
    margin:5px;

  }
  .delFn{
    width:30px;
    height:30px;
    line-height:30px;
    text-align: center;
    border-radius: 15px;
    color:#fff;
    background:red;
    font-size:20px;
    position: absolute;
    right:-10px;
    top:-10px;
  }
  .BoxDiv{
    overflow:hidden;
    margin-top:-60px;
    position: relative;

  }
