$default-btn-color:#FF7700;
.Btn{
    position:absolute;
    width:90%;
    background-color:$default-btn-color;
    height:90rpx;
    line-height:90rpx;
    font-weight:normal;
    font-size:30rpx;
    left:50%;
    margin-left:-45%;

}
button[type=default] {
    color:#FFF;
    background-color:$default-btn-color;
    }