@import '../../../style.scss';

.boxLi {
  width: 95%;
  margin: auto;
  border-radius: 20px;
  background: $color-white;
  box-shadow: 1px 1px $color-gray5;
  // border:1px solid red;
  overflow: hidden;
  padding: 10px 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px;
}
.addr {
  float: left;
  font-size: 30px;
}
.ctime {
  float: right;
  font-size: 30px;
  color: #000;
}
.addr {
  font-size: 30px;
  color: #454545;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.goodsum {
  clear: both;
  width: 100%;
  text-align: right;
  font-size: 30px;
  color: $color-gray4;
  padding: 5px 0;
}
.addimg {
  width: 50px;
  height: 50px;
  // border:1px solid red;
  float: left;
  margin-right: 20px;
}
.Btns {
  float: right;
  width: 100%;
  text-align: right;
}
.btn {
  float: right;
  width: 30%;
  border: 0;
  border-radius: 20px;
  margin: 0 5px;
}

.btn1 {
    float: right;
    width: 30%;
    border: 0;
    border-radius: 20px;
    margin: 0 5px;
  }

.btn .at-button{
    border-radius:999rpx;
    font-size:28rpx;
    padding:0;
    height:60rpx;
    line-height:60rpx;
    margin-right:10rpx;
    border:1rpx solid $color-green !important;
    color:$color-green !important;
    
    }
    
    .btn1 .at-button{
        border-radius:999rpx;
        font-size:28rpx;
        padding:0;
        height:60rpx;
        line-height:60rpx;
        margin-right:10rpx;
        color:$color-white !important;
        background:$default-btn-color
        
        }




.at-button__wxbutton {
  border-radius: 20px;
}
.at-button {
  border-radius: 999px;
  font-size: 28px;
  padding: 0;
  height: 60px;
  line-height: 60px;

  margin-right: 10px;
  border: 1px solid $color-gray3;
  color: $color-gray3;
}
.at-button--secondary {
  border-radius: 999px;
  font-size: 28px;
  padding: 0;
  height: 60px;
  line-height: 60px;

  margin-right: 10px;
  border: 1px solid $default-btn-color;
  color: $default-btn-color;
}

.gslist {
  clear: both;
  width: 100%;
  padding: 40px 0;
}

.gImg {
  float: left;
  width: 140px;
  height: 140px;
  border-radius: 10px;
  border: 1px solid $color-gray5;
}

.gUL {
  overflow: hidden;
  width: 100%;
  padding: 10px 5px;
  // border:1px solid red;
}
.fLeft {
  float: left;
  width: 75%;
}

.boxline {
  overflow: hidden;
  float: left;
  width: 100%;
  // border:1px solid red;
  font-size: 30px;
  color: $color-gray4;
  margin-bottom: 5px;
  margin-left: 20px;
}
.gname {
  float: left;
}
.gprice {
  float: right;
}
.total {
  clear: both;
  font-size: 30px;
  text-align: right;
}

.dragUpdataPage {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 90vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  .downDragBox {
    width: 100%;
    top: 0px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: absolute;
  }
  .upDragBox {
    bottom: 0px;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: absolute;
  }
  .dragUpdata {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .downText {
    margin-left: 20px;
  }
}

.at-tabs__item {
  font-size: 30px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
